.review-form {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 320px;
}

.review{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.review h1 {
  font-size: 25px;
  color: #1c355e;
}


.form-group label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 20px;
  margin-left: 50px;
  color: #333;
}

.form-group input,
.form-group textarea{
   width: 90%;
  padding: 6px 12px;
  margin-left: 50px;
  margin-right: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* subtle shadow */
  transition: box-shadow 0.3s ease; /* smooth hover effect */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #12355b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* stronger on focus */
  outline: none; /* remove default outline */
}


.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px; /* Optional spacing */
}

button {
  background-color: #1c355e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-right: 55px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #2e4c7b;
} 
