.head-title {
 padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 320px;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.header-container h1{
  font-size: 25px;
  color: #1c355e;
}

.jobname h2{
  font-size: 25px;
  margin-bottom: 25px;
  text-decoration: underline;
}

 p {
  margin: 10px 0;
  font-size: 15px;
  color: #2c3e50;
  margin-left: 50px;
}

 h1 {
   font-size: 25px;
  margin-bottom: 20px;
  color: #1c355e;
}

.button-group {
  margin-top: 30px;
  display: flex;
  gap: 12px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
}

.btn-blue {
  background-color: #1c355e;
  color: white;
}

.btn-red {
  background-color: #e53935;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

 .bar{
    background-color: #e9dbc8;  /* Light beige */
  padding: 6px 20px;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 15px;
  color: #1c355e;
  }