/* Main layout structure */
.profile-container {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 320px;
}

/* Main notification area */
.profile-content{
   display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Heading */
.profile-content h1 {
  font-size: clamp(1rem, 3.5vw, 1.8rem);
  color: #1c355e;
  margin-bottom: 20px;
}
.content {
  background-color: #e9dbc8;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.review-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.review-box {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  padding: 12px 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white;
  transition: background-color 0.3s;
}

.review-box:hover {
  background-color: #f0f8ff;
} 