.job-details-container {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;
  margin-left: 320px;
}

.breadcrumb {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.header-container h1{
  font-size: 40px;
  margin-bottom: 20px;
  color: #1c355e;
} 

.job-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.posted-by {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.job-banner {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 30px;
}

.content p {
  margin: 10px 0;
  font-size: 15px;
  margin-left: 50px;
  color: #2c3e50;
  margin-left: 50px;
}

.content h1 {
   font-size: 40px;
   margin-left: 50px;
  margin-bottom: 20px;
  color: #1c355e;
}


 .bar{
    background-color: #e9dbc8;  /* Light beige */
  padding: 12px 20px;
  border-radius: 8px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #1c355e;
  }

.apply-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.apply-button {
  background-color: #1f4a5c;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}


