* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  flex: 1;
  padding: 40px;
  background-color: white;
}

.logo {
  display: flex;
  align-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #1c355e;
  margin-left: 110px;
  margin-bottom: 20px;
}


h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 25px;
}

form label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forgot {
  text-align: right;
  margin: 10px 0;
}

.forgot a {
  color: #4b49ac;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 15px;
  cursor: pointer;
}

.signup {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

.signup a {
  color: #007bff;
  text-decoration: none;
}

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.divider span {
  background-color: white;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider::before {
  content: "";
  height: 1px;
  background: #ccc;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 0;
}

.social-icons {
  text-align: center;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}
