/* studentreviews.css */
.student-reviews {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.average-rating {
  margin-bottom: 20px;
}

.stars {
  display: flex;
}

.review-card {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.review-rating {
  display: flex;
}

.review-card p {
  font-size: 14px;
  color: #555;
}
